.footer {
  height: 10vh;
  background-color: #6d1f22;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-right: 20px;
  padding-left:20px;
  color: #fff;
  font-family: "Helvetica Neue 55 Cdnfonts", sans-serif;
}

.footerRoutesWrapper {
  flex-direction: row;
  justify-content: center;
  display: flex;
}
