<app-home-bar></app-home-bar>
<div class="contentwrapper">
  <div class="profilecard card">
    <div class="accountdetailswrapper whitecard">
      <div class="profileheaderwrapper">
        <h1 class="nameandstatheader">Hello {{ user_name }}</h1>

        <div class="buttomsWrapper">
        <p-confirmDialog> </p-confirmDialog>
        <p-button
          (click)="deleteProfile()"
          icon="pi pi-times"
          label="Remove Account"
        ></p-button>


        </div>
  

        <p-button
        icon="pi pi-sign-out"
        label="Log out"
      ></p-button>

    </div>
      </div>
      <h1 class="useremail">{{ user_email }}</h1>

      <div class="smlldiv"></div>
      <h1 class="reviewsheader">Reviews</h1>
      <div class="fildwidthdiv"></div>
      <div class="w-layout-grid usergrid">
        <div *ngFor="let comment of comments">
          <!-- Repeatable review -->
          <div
            id="w-node-_355392ae-e42b-b188-09b5-f15bacd4a3cb-b8492c38"
            class="userreviewcell whitecard"
          >
            <div class="review">
              <div class="reviewheader">
                <div class="reviewinfo">
                  {{ formatTimestamp(comment.createdAt) }}
                </div>
                <div class="reviewinfo">
                  Would Recommend: {{ comment.wouldTakeAgain ? "Yes" : "No" }}
                </div>

                <div class="trashbutton">
                  <p-button
                    icon="pi pi-trash"
                    (click)="deleteComment(comment._id)"
                    size="small"
                  ></p-button>
                </div>
              </div>
              <div class="smlldiv"></div>
              <div class="crsdesct">
                {{ comment.message }}
              </div>
              <div class="fildwidthdiv"></div>
            </div>
          </div>
        </div>
        <!-- ************ -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
