.buttonMargin {
  margin-right: 15px;
}

.buttomsWrapper {
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}
.reviewsheader {
  font-size: 30px;
  font-weight: 700;
  font-family: Inter, sans-serif;
}
.nameplsemail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userreviewcell.whitecard {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.profilecard {
  min-height: 80vh;
  max-height: auto;
}

.profilecard.card {
  margin-top: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.accountdetailswrapper.whitecard {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.userGrid {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.useremail {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.profileheaderwrapper {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 479px) {
  .userGrid {
    flex-direction: column;
  }
  .accountdetailswrapper.whitecard {
    flex-direction: column;
    align-items: center;
  }

  .buttonMargin {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .buttomsWrapper {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    flex-direction: column;
  }
  .usergrid {
    grid-template-columns: 1fr;
  }

  .profileheaderwrapper {
    flex-direction: column;
  }
}

#w-node-_355392ae-e42b-b188-09b5-f15bacd4a3cb-b8492c38 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
