<!-- Modal -->
<div>


  <p-dialog [draggable]="false" [modal]="true" [(visible)]="visible">
    <ng-template pTemplate="header">
      <h2 class="heading-modal">Welcome Back Eagles 🦅</h2>
    </ng-template>

    <div class="divider"></div>
    <div class='tagline-modal'>Updates to Eagle Eval</div>

    <p class="paragraph-modal"> Sebastian Pucher</p>


    <div class='farewell-img'></div>

    <p class="paragraph-modal"> thank you to all the...</p>
    <p class="paragraph-modal center-text"> Signing off</p>
    <p class="paragraph-modal center-text"> Sebastian Pucher & Andrew Boessen</p>
  </p-dialog>
</div>
<!-- Modal End -->

<app-hero-section></app-hero-section>
<app-descriptionhm></app-descriptionhm>
<app-triple-card-section></app-triple-card-section>
<app-footer></app-footer>
