<!-- Modal -->
<div>


  <p-dialog [draggable]="false" [modal]="true" [(visible)]="visible">
    <ng-template pTemplate="header">
      <h2 class="heading-modal">Welcome Back Eagles 🦅</h2>
    </ng-template>

    <div class="divider"></div>
    <div class='tagline-modal'>Updates to Eagle Eval</div>

    <div class='farewell-img'></div>

    <p class="paragraph-modal">As of May 2026, the creators of Eagle Eval, Sebastian Pucher and Andrew Boessen,
      graduated from Boston College. With the closing of this chapter, we wanted to extend a sincere thank you to all
      the students, professors, faculty, and staff who have supported us, provided feedback, and genuinely believed in
      our platform and the impact it’s had on campus. We are forever thankful to the BC community for not only shaping
      Eagle Eval into what it is, but also for challenging us and helping us grow as people along the way.
    </p>

    <p class="paragraph-modal">
      Believe it or not, we built Eagle Eval all the way back in 2023 as sophomores in Roncalli (roncastle). Little did
      we know that our year on CoRo would be the beginning of something so meaningful to students. It’s allowed us to
      genuinely help our peers, push the envelope on what the school allows, and honestly just have a ton of fun in the
      process. Because of this, we chose to self fund the project entirely out of pocket because we really believed in
      what we were doing.
    </p>

    <p class="paragraph-modal">
      While we are moving on, the site isn't disappearing completely. Eagle Eval will remain live as an archive so you
      can view lifetime statistics and example Class and Professor pages.

    </p>
    <p class="paragraph-modal">


      In reflecting on our time at BC as a whole as well as our journey with Eagle Eval, it's a reminder that you don’t
      need permission to start creating something. So if you’re some sophomore in Roncalli reading this right now (or
      freshman, junior, or senior), just know that you can shape your surroundings, you can make a difference for good,
      you can build, learn, grow, fail, try again, and most importantly, contribute something that is bigger than
      yourself.

    </p>
    <p class="paragraph-modal">
      As for us, we understand that it’s time to start over again … to feel the sadness and excitement that comes with
      saying goodbye to something, and starting new. To know that college is over and that Eagle Eval is just one
      chapter in our lives as builders… and to get absolutely stoked about what the future holds.

    </p>
    <p class="paragraph-modal">

      Good luck on the rest of your BC journey. I know that Andrew and I are so excited to see what the next generation
      of BC students do … we’ll be rooting for you.

    </p>

    <p class="paragraph-modal center-text"> Signing off</p>
    <p class="paragraph-modal center-text"> Sebastian Pucher & Andrew Boessen</p>
  </p-dialog>
</div>
<!-- Modal End -->

<app-hero-section></app-hero-section>
<app-descriptionhm></app-descriptionhm>
<app-triple-card-section></app-triple-card-section>
<app-footer></app-footer>
