<app-home-bar></app-home-bar>
<div class="termsSection">
  <div class="termsWrap">
      <div class="taglineTerms">PLEASE REVIEW OUR</div>
      <h2 class="termsHeading">
        Terms of Service
      </h2>
    <div class="dividerTerms"></div>
    <div class="legalTextWrapTerms">
      <p class="legalParagraphTerms">
        Your privacy is our priority. This policy explains how we collect, use, and protect your personal information to provide a secure and transparent experience. By using our website, you agree to this Privacy Policy. Please review it to understand how we handle your data and uphold your trust.
      </p>
    </div>
  <div class="termsContent">
    <p class="legalHeadingTerms">
      Last updated: December 29, 2024
    </p>
    <p class="legalSubParagraphTerms">
    This Privacy Policy describes Our policies and procedures on the collection,
    use and disclosure of Your information when You use the Service and tells You
    about Your privacy rights and how the law protects You.

    We use Your Personal data to provide and improve the Service. By using the Service,
    You agree to the collection and use of information in accordance with this Privacy Policy.
    This Privacy Policy has been created with the help of the Privacy Policy Generator.
    </p>
  </div>
</div>
</div>
<app-footer></app-footer>
