<app-home-bar></app-home-bar>
<div class="privacySection">
  <div class="privacyWrap">
      <div class="tagline-2">PLEASE REVIEW OUR</div>
      <h2 class="privacyHeading">
        Privacy Policy
      </h2>
    <div class="divider"></div>
    <div class="legalTextWrap">
      <p class="legalParagraph">
        We&#x27;ve compiled thousands of student ratings to help our peers make
        informed decisions about their academic journey. Whether you're choosing
        professors or selecting courses, you can explore comprehensive feedback
        and insights from those who have experienced it firsthand.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
