.professorReviewWrapper {
  padding:5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  min-height: auto;
  max-height: 70vh;
  overflow-y: auto;
}

.addreviewwrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addbtmMargin {
  margin-top: 25px;

  margin-bottom: 25px;
}

.removeBtmPadding {
  padding-bottom: 0px;
}

.classdatascorediv {
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.classdatawrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.subject {
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  text-align: center;
}

.classcodecollegetxt {
  margin-top: 5px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-align: center;
}

.classscoreknobproftable {
  height: 100px;
}

@media screen and (max-width: 479px) {
  .classdatascorediv {
    flex-direction: column;
    justify-content: center;
  }
  .classscoreknobproftable {
    margin-top: 20px;
  }
}
