<div class="descriptionhm">
  <div class="subonewrap">
    <div class="hero1-headline-wrapper">
      <div class="tagline-2">WELCOME TO EAGLE EVAL</div>
      <h2 class="heading-5">
        A Boston College Professor Rating System Made by BC Students for
        BC Students
      </h2>
    </div>
    <div class="divider"></div>
    <div class="subsection">
      <p class="paragraph">
        Search curated statistics from over 1,500 different Boston College
        Professors and over 3,500 Classes. We&#x27;ve compiled thousands of
        student ratings to help our peers make informed decisions about their
        academic journey.<br />
        Explore, Evaluate, Excel!
      </p>
      <div>
        Reviews {{ countReviews }} Courses {{ countCourses }} Professors
        {{ countProfs }}
      </div>
    </div>
    <img
      src="./assets/banner.jpeg"
      class="hero1-image"
    />
  </div>
</div>
